html, body {
  font-family: Lucida, "Lucida Grande", sans-serif;
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=62bd419d5d4b98a61f3006c6db87b02d");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

h1 {
  font-size: 48px;
  color: lightcoral;
  padding-top: 8vh;
}

p {
  /*max-width: 65%;
  min-width: 500px;*/
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
  color: white;
}

h3 {
  color: white;
  text-align: center;
}

h3 a {
  color: darksalmon;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  height: 100%;
}

.main {
  /*display property flex*/
  display: flex;
  /*set the display direction to column */
  flex-direction: column;
  /*align items to the center of the website*/
  align-items: center;
  justify-content: center;
}


ul#icons li {
  list-style-type: none;
  display: inline-flex;
}

ul#icons li a i {
  color: tomato;
}

.wyncode {
  text-decoration: none;
}

/*.boxbackground {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0%;
  text-align: center;
}*/
